{% extends 'common/base.html' %}
{% load bootstrap %}
{% load humanize %}

{% block title %}帳簿情報検索{% endblock %}

{% block page_name %}
帳簿情報検索
{% endblock %}

{% block page_desc %}
帳簿情報の検索を行う
{% endblock %}

{% block main %}
<form method="get" action="" name="search_form" id="search_form">
  {% csrf_token %}
  <div class="container">
    <div class="row">
      <div class="col-xs-4 col-sm-2">
	取引日：
      </div>
      <div class="col-xs-8 col-sm-10 form-inline">
	From<input id="search_trade_date_from" name="search_trade_date_from" type="date" class="form-control" value="{{ search_trade_date_from }}">
	To<input id="search_trade_date_to" name="search_trade_date_to" type="date" class="form-control" value="{{ search_trade_date_to }}">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4 col-sm-2">
	摘要：
      </div>
      <div class="col-xs-8 col-sm-10">
	<input id="search_ab_desc" name="search_ab_desc" type="text" class="form-control" value="{{ search_ab_desc }}">
      </div>
    </div>
    <div class="row">      
      <div class="col-xs-12 col-sm-12 text-left">
	<button type="button" class="btn btn-primary input-lg form-control" onclick="search()">
	  検索
	</button>
      </div>
    </div>
  </div>
</form>
{% if is_paginated %}
<div class="pagination">
  <span class="step-link">
    {% if page_obj.has_previous %}
    <a href="?{{ query_string }}&page={{ page_obj.previous_page_number }}">previous</a>
    {% endif %}
    <span class="page-current">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>
    {% if page_obj.has_next %}
    <a href="?{{ query_string }}&page={{ page_obj.next_page_number }}">next</a>
    {% endif %}
  </span>
</div>
{% else %}
<br>
{% endif %}
<table class="table table-bordered table-striped">
  <tr>
    <th class="text-center bg-info">取引日</th>
    <th class="text-center bg-info">入出金種類</th>
    <th class="text-center bg-info">科目</th>
    <th class="text-center bg-info">摘要</th>
    <th class="text-center bg-info">金額</th>
    <th class="text-center bg-info">処理</th>
  </tr>
  {% for item in object_list %}
  <tr>
    <td>{{ item.trade_date|date:"Y-m-d"  }}</td>
    <td>
      {% ifequal item.dw_type "0" %}
      入金
      {% else %}
      出金
      {% endifequal %}
    </td>
    <td>{{ item.at  }}</td>
    <td>
      {% ifequal item.dw_type "0" %}
      <a href="/app/ab_d/edit/{{ item.id }}">{{ item.ab_desc }}
      {% else %}
      <a href="/app/ab_w/edit/{{ item.id }}">{{ item.ab_desc }}
      {% endifequal %}
    </td>
    <td><div align="right">{{ item.ab_money|intcomma  }}</div></td>
    <td>
      <button type="submit" class="btn btn-info input form-control" 
	      onClick="location.href='/app/ab/delete/{{ item.id  }}'">
	削除
      </button>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
