{% extends 'common/base.html' %}
{% load bootstrap %}

{% block title %}DP利用データ登録{% endblock %}

{% block page_name %}
DP利用データ登録
{% endblock %}

{% block page_desc %}
DP利用データ登録を行う
{% endblock %}

{% block main %}
<form method="post" action="" name="listform" id="listform">
  {% csrf_token %}
<table class="table table-bordered table-striped">
  <tr>
    <th class="text-center bg-info">取引日付</th>
    <td><input id="search_trade_date" name="search_trade_date" type="date" class="form-control" value="{{ search_trade_date }}" {% if is_detailmode %}disabled{% endif %}></td>
  </tr>
  <tr>
    <th class="text-center bg-info">入出金種類</th>
    <td>
      <SELECT ID="search_dw_type_select" name="search_dw_type_select" class="form-control" {% if is_detailmode %}disabled{% endif %}>
	<OPTION VALUE="" 
		{% ifequal search_dw_type_select "" %}
		selected="selected"
		{% endifequal %}
		>---------</OPTION>
	<OPTION VALUE="0"
		{% ifequal search_dw_type_select "0" %}
		selected="selected"
		{% endifequal %}
		>入金</OPTION>
	<OPTION VALUE="1"
		{% ifequal search_dw_type_select "1" %}
		selected="selected"
		{% endifequal %}
		>出金</OPTION>
      </SELECT>
    </td>
  </tr>
  <tr>
    <th class="text-center bg-info">科目</th>
    <td>
      <SELECT ID="search_at_select" name="search_at_select" class="form-control" {% if is_detailmode %}disabled{% endif %}>
	<OPTION VALUE="" 
		{% ifequal search_at_select "" %}
		selected="selected"
		{% endifequal %}
		>---------</OPTION>
	{% for at_item in search_at %}
	<OPTION VALUE={{ at_item.id }}
		{% ifequal search_at_select at_item.id %}
		selected="selected"
		{% endifequal %}
		>{{ at_item.at_name }}</OPTION>
	{% endfor %}
      </SELECT>
    </td>
  </tr>
</table>
{% if is_detailmode %}
<table class="table table-bordered table-striped">
  <tr>
    <th class="text-center bg-info">科目</th>
    <th class="text-center bg-info">帳簿摘要</th>
    <th class="text-center bg-info">入出金方法</th>
    <th class="text-center bg-info">金額</th>
  </tr>
  {% for item in object_list %}
  <tr>
    <td>{{ item.at }}</td>
    <td>{{ item.desc }}</td>
    <td>
      <SELECT ID="{{ item.id  }}_dwm" name="{{ item.id }}_dwm" class="form-control">
	<OPTION VALUE="" 
		{% ifequal item.dwm "None" %}
		selected="selected"
		{% endifequal %}
		>---------</OPTION>
	{% for dwm_item in search_dwm %}
	<OPTION VALUE={{ dwm_item.id }}
		{% ifequal item.dwm.id dwm_item.id %}
		selected="selected"
		{% endifequal %}
		>{{ dwm_item.dwm_name }}</OPTION>
	{% endfor %}
      </SELECT>
    </td>
    <td><input id="{{ item.id }}_money" name="{{ item.id }}_money" type="text" class="form-control" value="{{ item.money }}" style="text-align: right;"></td>
  </tr>
  {% endfor %}
</table>
{% endif %}
{% if not is_detailmode %}
<div id="div_is_submit_flag"></div> 
<button type="button" class="btn btn-primary input-lg form-control" onclick="confirm()">
確定
</button>
{% else %}
<div id="div_is_submit_flag"></div>
<div id="div_search_trade_date"></div> 
<div id="div_search_dw_type_select"></div> 
<div id="div_search_at_select"></div> 
<button type="button" class="btn btn-primary input-lg form-control" onclick="update()">
更新
</button>
{% endif %}
</form>
<br>
<br>
{% endblock %}
