{% extends 'common/base.html' %}
{% load bootstrap %}

{% block title %}支出方法削除{% endblock %}

{% block page_name %}
支出方法削除
{% endblock %}

{% block page_desc %}
支出方法の削除を行う
{% endblock %}

{% block main %}
<form method="post">
  {% csrf_token %}
  <div class="container">
    <div class="row">
      <div class="text-left">
	<p>"{{ object }}"を削除しますが、よろしいでしょうか？</p>
	<button type="submit" class="btn btn-primary input-lg form-control">
	  削除
	</button>
      </div>
    </div>
  </div>
</form>
{% endblock %}
