{% load staticfiles %} 
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'sidr-2.2.1/dist/stylesheets/jquery.sidr.dark.css' %}">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">  
    <link rel="stylesheet" href="{% static 'meanMenu/meanmenu.css' %}">
  </head>
  <body>
    {% if is_logined %}
    <div hidden>
      <div id="meanmenu">
	<nav>
	  <ul>
	  {% for cate_item in menu_category_list %}
	    {% ifequal cate_item.is_link "true" %}
	    <li><a href="{{ cate_item.url }}">{{ cate_item.disp_name }}</a></li>
	    {% else %}
	    <li>
	      <a href="#">{{ cate_item.disp_name }}</a>
	      <ul>
		{% for menu_item in cate_item.menu_list %}
		<li><a href="{{ menu_item.url }}">{{ menu_item.disp_name }}</a></li>
		{% endfor %}
	      </ul>
	    </li>
	    {% endifequal %}
	  {% endfor %}
	  </ul>
	</nav>
      </div>
    </div>
    <div class="container bg-primary">
      <div class="row">
	<div class="col-xs-12">
	  <div class="text-right">
	    <span style="opacity: 0.7;">ようこそ {{ userid }}</span>
	  </div>
	</div>
      </div>
    </div>
    {% endif %}
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
	  <h3 class="text-center">
	    {% block page_name %}
	    {% endblock %}
	  </h3>
	</div>
      </div>
      <div class="row">
	<div class="col-xs-12 text-center">
	  {% block page_desc %}
	  {% endblock %}
	</div>
      </div>
    </div>
    <br>
    <div class="container-fluid">
      <div class="row">
	{% if is_logined %}
	<div class="col-sm-10 col-xs-12 text-center">
	{% else %}
	<div class="col-sm-12 col-xs-12 text-center">
	{% endif %}	
	{% block main %}
	{% endblock %}
	</div>
	{% if is_logined %}
	<div class="col-sm-2 hidden-xs">
	  <div class="panel-group" id="accordion">
	    <div class="panel panel-primary">
	      <div class="panel-heading">
		<h4 class="panel-title">
		  <div data-toggle="collapse" data-parent="#accordion">
		    メニュー
		  </div>
		</h4>
	      </div>
	    </div>
	    {% for cate_item in menu_category_list %}
	    {% ifequal cate_item.is_link "true" %}	    
	    <div class="panel panel-default">
	      <div class="panel-heading">
		<h4 class="panel-title">
		    <a href="{{ cate_item.url }}">{{ cate_item.disp_name }}</a>
		</h4>
	      </div>
	    </div>
	    {% else %}
	    <div class="panel panel-default">
	      <div class="panel-heading">
		<h4 class="panel-title">
		  <a data-toggle="collapse" data-parent="#accordion" href="{{ cate_item.url }}">
		    {{ cate_item.disp_name }}
		  </a>
		</h4>
	      </div>
	      <div id="{{ cate_item.id }}" class="panel-collapse collapse">
		<div class="panel-body">
		  {% for menu_item in cate_item.menu_list %}
		  <a href="{{ menu_item.url }}">{{ menu_item.disp_name }}</a>
		  {% endfor %}
		</div>
	      </div>
	    </div>
	    {% endifequal %}
	    {% endfor %}
	  </div>
	</div>
	{% endif %}
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="{% static 'meanMenu/jquery.meanmenu.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/common.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/common_validator.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/' %}{{ validator_name }}" type="text/javascript"></script>

    <script type="text/javascript">
      jQuery(document).ready(function () {
      jQuery('#meanmenu nav').meanmenu({
      });
      });
    </script>
  </body>
</html>
